[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{vault_config_path}}/listener.hcl
ConditionFileNotEmpty={{vault_config_path}}/telemetry.hcl
ConditionFileNotEmpty={{vault_config_path}}/replication.hcl
ConditionFileNotEmpty={{tmpl_vault_config_path}}/seal.hcl.tmpl
ConditionFileNotEmpty={{tmpl_vault_config_path}}/raft.hcl.tmpl
ConditionFileNotEmpty={{tmpl_vault_config_path}}/config-root.hcl.tmpl
ConditionFileNotEmpty=/usr/local/bin/render-vault-config.sh
ConditionFileNotEmpty=/usr/local/bin/init-vault-tls.sh

#StartLimitIntervalSec=60
#StartLimitBurst=3

[Service]
User={{vault_user}}
Group={{vault_group}}
#LogLevel=trace
#ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
#Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
#ExecStartPre=/usr/local/bin/init-vault-tls.sh
ExecStartPre=/usr/local/bin/render-vault-config.sh
ExecStart={{vault_bin_dest}}vault server \
  -config="{{vault_config_path}}/listener.hcl" \
  -config="{{vault_config_path}}/telemetry.hcl" \
  -config="{{vault_config_path}}/replication.hcl" \
  -config="{{vault_config_path}}/seal.hcl" \
  -config="{{vault_config_path}}/raft.hcl" \
  -config="{{vault_config_path}}/config-root.hcl" 
#ExecStartPost=/usr/local/bin/vault-dr-cluster-setup.sh
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
#StartLimitInterval=60
#StartLimitIntervalSec=60
#StartLimitBurst=3
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target