[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{vault_config_path}}/{{vault_config_name}}

StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User={{vault_user}}
Group={{vault_group}}
LogLevel=info
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStartPre=/usr/local/bin/init-vault-tls.sh
ExecStartPre=/usr/local/bin/render-vault-config.sh
ExecStart={{vault_bin_dest}}vault server -config={{vault_config_path}}/{{vault_config_name}}
ExecStartPost=/usr/local/bin/vault-dr-cluster-setup.sh
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitIntervalSec=60
StartLimitBurst=3
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target