- name: Install Azure Package
  yum_repository:
    name: "{{ azure_package_name }}"
    description: Packages-Microsoft-Com-Prod forRHEL 8 or CentOS Stream 8
    file: "{{ azure_repo_name }}" # File name without the .repo extension to save the repo in. Defaults to the value of name
    baseurl: https://packages.microsoft.com/rhel/8/prod
    gpgcheck: true
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
    enabled: true

- name: Install Azure CLI
  dnf:
    name: azure-cli
    state: present
    update_cache: true
  register: az_cli_install

- name: Confirm Azure-CLI is Installed
  debug:
    msg: azure cli is successfully installed
  when: az_cli_install is succeeded