[Unit]
Description="rc.local file"
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/bin/sh /etc/rc.local
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target