- name: "upload vault ufw config file"
  template:                                                                                                               
    src: vault.j2                          
    dest: /etc/ufw/applications.d/vault  
    mode: 0777                                                                   
    decrypt: yes
    force: yes
            
- name: "set default ufw policy to DENY"  
  command: "ufw default deny"     

- name: "allow outgoing connection"       
  command: "ufw default allow outgoing" 

- name: "open ssh port"               
  command: "ufw allow 'ssh'" 

- name: "open vault api port"               
  command: "ufw allow 8200"   

- name: "open vault cluster port"               
  command: "ufw allow 8201"    

- name: "enabling ufw rule"
  command: "ufw allow 'vault'"

- name: "ensure ufw is enabled"  
  command: "ufw --force enable"

- name: "reload ufw"                                                             
  command: "ufw reload"