- name: Create Vault User
  user:
    name: "{{ vault_user }}"
    system: true
    shell: "{{ vault_user_shell }}" # not a login account
    home: "{{ vault_config_path }}"
    createhome: false
    append: true
