- name: Create Vault User
  user:
    name: "{{vault_user}}"
    system: yes
    shell: "{{vault_user_shell}}" # not a login account
    home: "{{vault_config_path}}"
    createhome: no
    append: yes