user:
  vault:
    exists: true
    home: "{{vault_config_path}}"
    shell: "{{vault_user_shell}}"

group:
  vault:
    exists: true

file:
  "{{vault_bin_dest}}vault":
    exists: true
    mode: "0555"
    owner: root
    group: root
    filetype: file
  "{{vault_data_path}}":
    exists: true
    mode: "0777"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: directory
  "{{vault_config_path}}/tls":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: directory
  "{{vault_config_path}}/listener.hcl":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{vault_config_path}}/replication.hcl":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{vault_config_path}}/telemetry.hcl":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{tmpl_vault_config_path}}/seal.hcl.tmpl":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{tmpl_vault_config_path}}/raft.hcl.tmpl":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{tmpl_vault_config_path}}/config-root.hcl.tmpl":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{vault_config_path}}/splunk/inputs.conf":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{vault_bin_dest}}vault-dr-cluster-setup.sh":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{vault_bin_dest}}render-vault-config.sh":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{vault_bin_dest}}init-vault-tls.sh":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file
  "{{systemd_unit_directory}}/vault.service":
    exists: true
    mode: "0700"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    filetype: file

service:
  vault:
    enabled: true
    running: false

port:
  tcp:22:
    listening: true
  tcp6:22:
    listening: true
  tcp:8200:
    listening: false
  tcp:8201:
    listening: false
