- name: Download Vault
  unarchive:
    remote_src: yes # archived file to unpack exists in target server
    src: "{{vault_bin_src}}"
    dest: "{{vault_bin_dest}}"
    owner: root
    group: root
 
- name: Create Vault User
  user:
    name: "{{vault_user}}"
    system: yes
    shell: /bin/false # not a login account
    home: "{{vault_config_path}}"
    createhome: no
    append: yes

- name: Upload Vault Systemd Service File
  template:
    src: vault.service.j2
    dest: "{{systemd_unit_directory}}/vault.service"
    owner: "{{vault_user}}"
    group: "{{vault_group}}"
    force: yes
  register: vault_service

- name: Confirm Destination of Systemd File
  debug:
    msg: successfully uploaded
  when: vault_service is succeeded

- name: Start Vault Service
  service:
    name: vault
    state: started
    enabled: yes
  when: vault_service is changed

- name: Populate Service Facts
  service_facts:

- name: Print Vault Status
  debug:
    var: ansible_facts.services['vault.service'].status