ui = true

# when using the Integrated Storage backend, it is strongly recommended
# to disable memory swapping on the system
disable_mlock = true

api_addr  = "https://${LOCAL_IPV4}:{{ vault_api_port }}"

# required when using the Integrated Storage backend to communicate 
# between nodes in the raft cluster
cluster_addr = "https://${LOCAL_IPV4}:{{ vault_cluster_port }}"